@{
    ViewBag.Title = "Home Page";
}

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>bienvenidos a </i> <br /> <i>pet</i><br /> <i>match</i></h2>
            <p>
                <i>El primer portal</i> <br /> <i>de matchkmaking</i> <br /> <i>para mascotas </i>
                </br></br>
            </p>
            <div class="da-img"><img src="@Url.Content("~/assets/plugins/parallax-slider/img/1.jpg")" alt="" /></div>
            >
        </div>
        <div class="da-slide">
            <h2><i>¿tienes una</i> <br /> <i>mascota</i> <br /> <i>forever alone?</i></h2>
            <p>
                <i>¡No importa que clase de mascota tengas!</i> <br /> <i>
                    Publica su perfil...
                    ¡Su otra mitad espera!.
                </i>
                </br></br>
            </p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe src="http://player.vimeo.com/video/59125130" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>encuentra</i> <br /> <i>a su</i> <br /> <i>media naranja</i></h2>
            <p>
                <i>¿Vas a seguir esperando? </i> <br /> <i>¡Mejor ven a conocer a la pareja perfecta para tu mascota!.</i> <br />
                </br></br>
            </p>
            <div class="da-img"><img src="@Url.Content("~/assets/plugins/parallax-slider/img/1.jpg")" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->
<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Crea el perfil de tu mascota, y encuentra su pareja perfecta ❤.</span>
            <p>Tu mascota siempre ha estado ahí para ti,¡Ahora es tu turno de ayudarle a encontrar el amor!.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Regístrate</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container">
    <!-- Recent Works -->
    <div class="headline"><h3>Nuevos integrantes</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="@Url.Content("~/assets/img/carousel/2.jpg")" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">Soni</a>
                </div>
                <h3><a class="hover-effect" href="#">Persa</a></h3>
                <p>Hola me llamo Soni, soy una gatita de 2 años que busca novio.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="@Url.Content("~/assets/img/carousel/3.jpg")" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">Galleta</a>
                </div>
                <h3><a class="hover-effect" href="#">Salchicha Pelo Largo</a></h3>
                <p>Perrito salchicha de pelo largo busca novia, preferentemente de 3 años.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="@Url.Content("~/assets/img/carousel/9.jpg")" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">Rocco</a>
                </div>
                <h3><a class="hover-effect" href="#">Hurón</a></h3>
                <p>Hola me llamo Rocco, soy muy tranquilo y listo, tengo 2 años y estoy en busca de novia.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="@Url.Content("~/assets/img/carousel/10.jpg")" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">Luca</a>
                </div>
                <h3><a class="hover-effect" href="#">Collie</a></h3>
                <p>Me llamo Luca, soy un collie de 3 años, busco novio por el área de Coyoacán preferentemente.</p>
            </div>
        </li>
    </ul><!--/thumbnails-->
    <!-- //End Recent Works -->
    <!-- Information Blokcs -->
    <div class="row-fluid margin-bottom-30">
        <blockquote>
            <p>"Siempre sufrí buscando una pareja para mi perro, me gustó mucho este sistema, ahora hasta mi perro tiene su perfil en internet, como facebook para perros".</p>
            <small>Alberto Campos</small>
        </blockquote>
    </div>
    <div class="row-fluid margin-bottom-30">
        <!-- Who We Are -->
        <!-- //End Our Clients -->
    </div><!--/container-->
    <!-- End Content Part -->
    @section Scripts {
        <script type="text/javascript" language="javascript">
            jQuery(document).ready(function () {
                //App.init();
                App.initSliders();
                Index.initParallaxSlider();
            });
        </script>
    }
