@using PetMatch.Models
@using PetMatch.Web.Resources
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        <div id="__external_login">@Account.OrRegisterWithExternal</div>
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="__socialLoginList">
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="pure-button" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@string.Format(Account.RegisterExternalTitle, p.Caption)">@string.Format(Account.RegisterExternalText, p.AuthenticationType)</button>
                }
            </div>
        }
    }
}