@using PetMatch.Models
@model LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/account/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/account/social.css")" rel="stylesheet" type="text/css" />
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Login</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid log-page">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Ingresa a tu cuenta</h3>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge", placeholder = "usuario@ejemplo.com" })
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge", placeholder = "Contraseña" })
            </div>
            <div class="controls form-inline">
                <label class="checkbox">@Html.CheckBoxFor(m => m.RememberMe) Permanecer conectado</label>
                <button class="btn-u pull-right" type="submit">Iniciar</button>
            </div>
            @Html.ValidationSummary("")
            <hr />
            <h4>¿Olvidaste tu contraseña?</h4>
            <p>No te preocupes, haz <a class="color-green" href="#">clic aquí</a> para recuperarlo.</p>
        }
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        <p>¿Aún no estás registrado? Haz clic <a href="@Url.Action("Register")" class="color-green">aquí</a> para registrarte.</p>
        <p>Al registrarte aceptas la <a href="@Url.Action("Privacy", "Home")" class="color-green">política de privacidad</a> y los <a href="@Url.Action("Terms", "Home")" class="color-green">términos del servicio</a>.</p>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}