@using PetMatch.Models
@using Resources
@model RegisterViewModel
@{
    ViewBag.Title = "Registro";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/account/register.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/account/social.css")" rel="stylesheet" type="text/css" />
}

<!--=== Content Part ===-->
<div class="body">
    <div class="breadcrumbs margin-bottom-50">
        <div class="container">
            <h1 class="color-green pull-left">Registro</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a> <span class="divider">/</span></li>
                <li class="active">Registro</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <div class="container">
        <div class="row-fluid margin-bottom-10 reg-page">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Regístrate</h3>
                <h4 class="color-green">Inicio de sesión</h4>
                <div class="controls">
                    @Html.LabelFor(m => m.Email, new { @class = "__required" })<span class="color-red __required">*</span>
                    <div class="input-prepend __required">
                        <span class="add-on"><i class="icon-user"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "span12", placeholder = "usuario@ejemplo.com" })
                    </div>
                    @Html.LabelFor(m => m.Password, new { @class = "__required" })<span class="color-red __required">*</span>
                    <div class="input-prepend __required">
                        <span class=" add-on">
                        <i class="icon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "span12", placeholder = "Contraseña" })
                    </div>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "__required" })<span class="color-red __required">*</span>
                    <div class="input-prepend __required">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span12", placeholder = "Contraseña" })
                    </div>
                    <button class="btn-u" type="submit">Registrarse</button>
                    @Html.ValidationSummary("")
                </div>
                <hr />
                <p>¿Ya estás registrado? Haz clic <a href="@Url.Action("Login")" class="color-green">aquí</a> para ingresar a tu cuenta.</p>
            }
            @Html.Partial("_RegisterExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            <p>Al registrarte aceptas la <a href="@Url.Action("Privacy", "Home")" class="color-green">política de privacidad</a> y los <a href="@Url.Action("Terms", "Home")" class="color-green">términos del servicio</a>.</p>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/body-->
<!--=== End Content Part ===-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>

}
